<body>
    <div class="container mx-auto text-center">
        <h1>Cosas en el LocalStorage</h1>
    </div>

    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-6">
                    <h1>{{producto_nombre}}</h1>
                    <h2>{{producto_descripcion}}</h2>
                </div>
                <div class="col-sm-6">
                    <img src="{{producto_imagen}}" class="img-fluid rounded">

                </div>
            </div>
            <button [routerLink]="['/productos']" name="button" class="btn btn-primary">Volver a productos</button>

        </div>
    </div>
</body>